@import "tailwindcss";


:root {
  --font-poppins: "Poppins", sans-serif;
}



body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

.becker-font {
  font-family: "Becker-Inline", sans-serif;
}

@font-face {
  font-family: "BeckerInline";
  src: url("./assets/fonts/Becker.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.heading-becker {
  font-family: "BeckerInline", sans-serif;
}