@import "tailwindcss";


:root {
  --font-poppins: "Poppins", sans-serif;
}


html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100%;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

.becker-font {
  font-family: "Becker-Inline", sans-serif;
}

@font-face {
  font-family: "BeckerInline";
  src: url("./assets/fonts/Becker.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.heading-becker {
  font-family: "BeckerInline", sans-serif;
}

@keyframes popupFade {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: popupFade 0.35s ease-out forwards;
}